*{
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'TheMix SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url(./../fonts/TheMixSemiBold.otf);
}

@font-face {
    font-family: 'TheMix Black';
    font-style: normal;
    font-weight: normal;
    src: url(./../fonts/TheMixBlack.otf);
}

/* @media */

body{
    background-color: #F5F5F5;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex-1{
    flex-grow: 1;
}

.background-container{
    background-image: url(./../images/bg-img-1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    height: 140vh; 
    
} 

.navbar{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.navbar >div {
    flex-grow: 2;
    justify-content: end; 
    padding-right: 40px;
}

.navbar > a{
    flex-grow: 1;
    padding-top: 15px;
    padding-left: 50px;
}

.navbar > div >ul{
    list-style: none;
    font-size: medium;
    justify-content: space-between;
    font-family: 'TheMix SemiBold';
    margin-inline: 20px;
    text-transform: uppercase;
}

.navbar > div > ul > li{
    padding-inline: 20px;
    padding-block: 10px;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: white;
}

.navbar > div >ul >li:hover{
    background-color: rgba(212, 212, 212, 0.291);
    border-radius: 3px;
    transition: all 0.5s;
}

.navbar >div  {
    align-items: center; 
}

.primary-btn{
    border-radius: 40px;
    background-color: #0078BE;
    color: white;
    padding-inline: 30px;
    padding-block: 8px;
    font-family: 'TheMix SemiBold';
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.primary-btn:hover{
    box-shadow: 3px 3px 6px 2px rgba(57, 57, 57, 0.552);
    transition: all 0.5s;
}


.slogan-container {
    font-family: 'TheMix Black';
    font-size: 3.4vw;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -55%);  
}

.subtitle{
    font-family: 'TheMix Black';
    text-transform: uppercase;
    color:#212121;
    text-align: center;
    font-size: 2rem;
    margin-block: 20px;
}

.cards-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-inline: 20px;
    margin-bottom: 50px;
}


  
.card {
   flex: 1 1 150px;
   background-color: white;
   border-radius: 10px;
   height: auto;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   text-align: center;
   padding: 30px;
}

.card > div > img{
    height: 80px;
    
}

.card > div> h3{
    font-family: 'TheMix Black';
    color: #212121;
    text-transform: uppercase;
}

.card > div > p{
    font-family: 'TheMix SemiBold';
    color: #7A7A7A;
}

.drone-view-img{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./../images/BDD-drone-view.jpg);
}

.opacity{
    z-index: 1;
    background-color: #61606067;
    width: 100%;
    height: 100%;
}

.drone-view-img >div> h3{
    font-family: 'TheMix Black';
    font-size: 32px;
    text-transform: uppercase;
    color: white;    
}

.drone-view-img > div > h3, .drone-view-img > div > video {
    z-index: 2;
}

